@use './mixins' as *;
@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'AvenirNextLTPro-Demi';
  line-height: 1.5;
}

li {
  text-decoration: none;
}

h1 {
  color: $white;
  @include page-header();
}

.header {
  background-color: $black;
  display: flex;
  flex-direction: column;
  color: $white;

  &__section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    padding-top: 1rem;
    max-width: 7.5rem;

    @include tablet {
      padding-top: 0;
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    text-align: center;
  }

  &__item {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
  }

  &__link {
    color: $silver;
  }

  &__link--active {
    color: $white;
    border-bottom: $white solid 0.25rem;
    font-weight: $demi;
    padding-bottom: 0.8rem;
  }

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__section {
      margin: 1.6rem 3rem;
      color: pink;
    }

    &__item {
      margin: 0 3rem;
      font-size: 1.4rem;
    }

    &__link {
      padding: 2.6rem 0;
    }
  }

  @include desktop {
    &__section {
      margin: 0 3rem 0 13.3rem;
    }

    &__item {
      margin: 0 3rem;
      font-size: 1.4rem;
    }

    &__link {
      padding: 3.3rem 0;
    }
  }
}

.footer {
  background-color: $black;
}
