// breakpoint
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// primary colors
$black: #323232; 
$silver: #AFAFAF; 
$white: #FFFFFF; 

// secondary colors
$darkblack: #000000; 
$mercury: #E1E1E1; 
$alabaster: #FAFAFA; 

// font weight 
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;


