// breakpoint
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// primary colors
$black: #323232; 
$silver: #AFAFAF; 
$white: #FFFFFF; 

// secondary colors
$darkblack: #000000; 
$mercury: #E1E1E1; 
$alabaster: #FAFAFA; 
$secondary-black:#000000;
$secondary-silver: #e1e1e1;
$secondary-white:#fafafa;

// font weight 
$regular: 400;
$demi: 600;
$bold: 700;


