@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;

// hero section
.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url('../assets/images/hero-bio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  &__content {
    @include desktop {
      max-width: $desktop-breakpoint;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 1.5rem;
    padding: 5.1875rem 1rem;
    text-align: left;
    color: $white;

    @include tablet {
      font-size: 3.75rem;
      padding: 12rem 2.25rem;
    }

    @include desktop {
      padding: 17rem 8rem;
    }
  }
}

// about section
.about {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    margin: 0 auto;
    padding: 2rem 8rem;
    max-width: $desktop-breakpoint;
  }

  &__header {
    padding: 0.5rem 0;
    font-weight: $demi;

    @include tablet {
      font-size: 2.25rem;
      padding: 1rem 0;
    }

    @include desktop {
      padding-bottom: 1.5rem;
    }
  }

  &__content {
    padding: 0.5rem 0;

    @include tablet {
      padding: 1.25rem 3.5rem 0;
    }

    @include desktop {
      padding: 1.25rem 6rem 0;
    }
  }

  &__img-section {
    overflow: hidden;
  }

  &__img {
    margin-top: -2rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;

    @include tablet {
      margin-top: -6rem;
      object-position: top;
    }

    @include desktop {
      margin-top: -4rem;
    }
  }

  &__quote {
    padding: 0.5rem 0;

    @include tablet {
      padding-top: 2.25rem;
    }

    @include desktop {
      width: 80%;
    }

    &-text {
      font-weight: $demi;

      @include tablet {
        font-size: 1.5rem;
        font-weight: $demi;
        line-height: 2rem;
      }
    }

    &-owner {
      font-weight: $demi;
      padding-top: 0.5rem;

      @include tablet {
        font-size: 1rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  &__bio-header {
    padding: 0.5rem 0;

    @include tablet {
      font-size: 1.5rem;
      padding-top: 2.25rem;
    }
  }

  &__bio-section {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }

  &__bio-text {
    font-size: 0.8125;
    line-height: 1.125;
    padding: 0.5rem 0;

    @include tablet {
      display: inline-grid;
      font-size: 0.875;
      font-weight: normal;
      line-height: 1.375rem;
      padding-top: 1rem;
      padding-bottom: 0;
    }
  }
}

// gallery section
.gallery {
  background-color: $alabaster;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.6rem;

    @include desktop {
      margin: 0 auto;
      padding: 0 8rem;
      max-width: $desktop-breakpoint;
    }
  }

  &__title {
    padding: 0.8rem 0;
    font-weight: $demi;

    @include tablet {
      padding: 2rem 0 2rem;
      font-size: 2.25rem;
    }
  }

  &__list {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  &__img {
    display: inline-grid;
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.9s ease;

    &:hover {
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
    }

    @include tablet {
      padding: 0;
    }
  }
}

// comments section
.comments {
  background-color: $white;
  color: $black;

  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    margin: 0, auto;
    padding: 2rem 8rem;
    max-width: $desktop-breakpoint;
  }

  &__content {
    padding: 1rem 0 0.5rem;

    @include tablet {
      padding: 1.25rem 4.5rem 0;
    }

    @include desktop {
      padding: 1.25rem 16.25rem 0;
    }
  }

  &__title {
    padding: 0.5rem 0 0;
    font-weight: $demi;

    @include tablet {
      padding: 1rem 0 1.5rem;
      font-size: 2.25rem;
    }
  }

  &__form {
    border-bottom: solid 0.0625rem $mercury;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 1rem;
    object-fit: cover;
    object-position: 10%;
  }

  &__grey-avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 1rem;
    object-fit: cover;
    object-position: 10%;
    background-color: $mercury;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: 0.8125rem;
    border-bottom: solid 0.0625rem $mercury;
    padding: 1rem 0 0.5rem;
    gap: 1rem;
    flex-grow: 0;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  &__details {
    width: 100%;
  }

  &__author {
    font-weight: 600;
  }

  &__date {
    color: $silver;
  }

  &__response {
    padding: 0.5rem 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    color: silver;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.625rem;
    margin: 0.125rem 0;

    @include tablet {
      font-size: 0.75rem;
    }
  }

  &__input {
    height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    border: solid 0.0625rem $mercury;
    background-color: $alabaster;
    margin: 0.125rem 0 1rem;
    padding: 0.75rem;
    color: $black;

    @include tablet {
      height: 3rem;
      padding: 1rem;
    }

    &::placeholder {
      color: $black;
      font-size: 0.8125rem;

      @include tablet {
        font-size: 0.875rem;
      }
    }

    &:focus {
      border-color: $black;
      background-color: $white;
      outline: none;
    }

    &-comment {
      height: 5rem;
      resize: none;

      @include tablet {
        margin-bottom: 1rem;
      }
    }
  }

  &__submit {
    height: 2.5rem;
    border-radius: 0.25rem;
    width: 100%;
    border: none;
    text-transform: uppercase;
    background-color: $black;
    color: $white;
    font-weight: $demi;
    margin: 0.5rem 0 1rem;
    font-size: 1rem;
    padding: 0 2rem;

    @include tablet {
      width: 9.375rem;
      margin-left: auto;
      margin-bottom: 1.5rem;
    }

    &:hover {
      background-color: $darkblack;
    }
  }
}
