* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style-type: none;
  text-decoration: none;
}

::-moz-placeholder {
  font-family: "AvenirNextLTPro-Demi";
  line-height: 1.5;
}

body, textarea, ::placeholder {
  font-family: "AvenirNextLTPro-Demi";
  line-height: 1.5;
}

li {
  text-decoration: none;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.header__section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__logo {
  padding-top: 1rem;
  max-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  text-align: center;
}
.header__item {
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
.header__link {
  color: #AFAFAF;
}
.header__link--active {
  color: #FFFFFF;
  border-bottom: #FFFFFF solid 0.25rem;
  font-weight: 600;
  padding-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .header__section {
    margin: 1.6rem 3rem;
    color: pink;
  }
  .header__item {
    margin: 0 3rem;
    font-size: 1.4rem;
  }
  .header__link {
    padding: 1.6rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__section {
    margin: 0 3rem 0 13.3rem;
  }
  .header__item {
    margin: 0 3rem;
    font-size: 1.4rem;
  }
  .header__link {
    padding: 1.6rem 0;
  }
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .hero__content {
    max-width: 1280px;
    margin: 0 auto;
  }
}
.hero__title {
  font-size: 1.5rem;
  padding: 5.1875rem 1rem;
  text-align: left;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    padding: 12rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding: 17rem 8rem;
  }
}

.footer {
  background-color: #323232;
}
.footer__content {
  color: white;
  padding: 1rem;
  font-size: 0.75rem;
  line-height: normal;
  display: flex;
  flex-direction: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__content {
    padding: 2.25rem;
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__content {
    margin: 0 auto;
    padding: 2.25rem 8 rem;
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) {
  .footer__top {
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__top-item {
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 2.125rem;
  }
}
.footer__header {
  font-size: 1.5rem;
  line-height: normal;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 2.25rem;
  }
}
.footer__icons {
  padding: 1rem 0;
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding-bottom: 0;
  }
}
.footer__icon {
  height: 1.5rem;
  width: auto;
}
.footer__contact {
  display: flex;
  flex-direction: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    flex-direction: row;
    gap: 3rem;
  }
}
.footer__card {
  padding: 0.5rem 0;
}
.footer__name {
  font-size: 600;
  font-weight: normal;
  line-height: normal;
  padding-bottom: 1rem;
}
.footer__text {
  padding-bottom: 0.5rem;
  line-height: 1.25rem;
}
.footer__email {
  color: #FFFFFF;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer__email {
    padding-bottom: 1.5rem;
  }
}
.footer__logo--buttom {
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__logo--buttom {
    display: none;
  }
}
.footer__logo--right {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--right {
    display: contents;
  }
}
.footer__footer__image {
  padding: 1.5rem 0 1rem;
  max-width: 7.5rem;
}
@media screen and (min-width: 768px) {
  .footer__footer__image {
    padding: 0;
  }
}
.footer__copyright {
  font-size: 0.75rem;
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1rem;
    margin-top: 2.4rem;
    margin-bottom: 1.4rem;
  }
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.about {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    margin: 0 auto;
    padding: 2rem 8rem;
    max-width: 1280px;
  }
}
.about__header {
  padding: 0.5rem 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__header {
    font-size: 2.25rem;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    padding-bottom: 1.5rem;
  }
}
.about__content {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__content {
    padding: 1.25rem 3.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__content {
    padding: 1.25rem 6rem 0;
  }
}
.about__img-section {
  overflow: hidden;
}
.about__img {
  margin-top: -2rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-top: -6rem;
    -o-object-position: top;
       object-position: top;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    margin-top: -4rem;
  }
}
.about__quote {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__quote {
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    width: 80%;
  }
}
.about__quote-text {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__quote-text {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
.about__quote-owner {
  font-weight: 600;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__quote-owner {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
}
.about__bio-header {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__bio-header {
    font-size: 1.5rem;
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .about__bio-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
.about__bio-text {
  font-size: 0.8125;
  line-height: 1.125;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .about__bio-text {
    display: inline-grid;
    font-size: 0.875;
    font-weight: normal;
    line-height: 1.375rem;
    padding-top: 1rem;
    padding-bottom: 0;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.6rem;
}
@media screen and (min-width: 1280px) {
  .gallery__content {
    margin: 0 auto;
    padding: 0 8rem;
    max-width: 1280px;
  }
}
.gallery__title {
  padding: 0.8rem 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 2rem 0 2rem;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
.gallery__img {
  display: inline-grid;
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.9s ease;
}
.gallery__img:hover {
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
@media screen and (min-width: 768px) {
  .gallery__img {
    padding: 0;
  }
}

.comments {
  background-color: #FFFFFF;
  color: #323232;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    margin: 0, auto;
    padding: 2rem 8rem;
    max-width: 1280px;
  }
}
.comments__content {
  padding: 1rem 0 0.5rem;
}
@media screen and (min-width: 768px) {
  .comments__content {
    padding: 1.25rem 4.5rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .comments__content {
    padding: 1.25rem 16.25rem 0;
  }
}
.comments__title {
  padding: 0.5rem 0 0;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .comments__title {
    padding: 1rem 0 1.5rem;
    font-size: 2.25rem;
  }
}
.comments__form {
  border-bottom: solid 0.0625rem #E1E1E1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.comments__avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10%;
     object-position: 10%;
}
.comments__grey-avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin-top: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10%;
     object-position: 10%;
  background-color: #E1E1E1;
}
.comments__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 0.8125rem;
  border-bottom: solid 0.0625rem #E1E1E1;
  padding: 1rem 0 0.5rem;
  gap: 1rem;
  flex-grow: 0;
}
@media screen and (min-width: 768px) {
  .comments__item {
    font-size: 0.875rem;
  }
}
.comments__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.comments__details {
  width: 100%;
}
.comments__author {
  font-weight: 600;
}
.comments__date {
  color: #AFAFAF;
}
.comments__response {
  padding: 0.5rem 0;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__label {
  color: silver;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.625rem;
  margin: 0.125rem 0;
}
@media screen and (min-width: 768px) {
  .form__label {
    font-size: 0.75rem;
  }
}
.form__input {
  height: 2.25rem;
  width: 100%;
  border-radius: 0.25rem;
  border: solid 0.0625rem #E1E1E1;
  background-color: #FAFAFA;
  margin: 0.125rem 0 1rem;
  padding: 0.75rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .form__input {
    height: 3rem;
    padding: 1rem;
  }
}
.form__input::-moz-placeholder {
  color: #323232;
  font-size: 0.8125rem;
}
.form__input::placeholder {
  color: #323232;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .form__input::-moz-placeholder {
    font-size: 0.875rem;
  }
  .form__input::placeholder {
    font-size: 0.875rem;
  }
}
.form__input:focus {
  border-color: #323232;
  background-color: #FFFFFF;
  outline: none;
}
.form__input-comment {
  height: 5rem;
  resize: none;
}
@media screen and (min-width: 768px) {
  .form__input-comment {
    margin-bottom: 1rem;
  }
}
.form__submit {
  height: 2.5rem;
  border-radius: 0.25rem;
  width: 100%;
  border: none;
  text-transform: uppercase;
  background-color: #323232;
  color: #FFFFFF;
  font-weight: 600;
  margin: 0.5rem 0 1rem;
  font-size: 1rem;
  padding: 0 2rem;
}
@media screen and (min-width: 768px) {
  .form__submit {
    width: 9.375rem;
    margin-left: auto;
    margin-bottom: 1.5rem;
  }
}
.form__submit:hover {
  background-color: #000000;
}/*# sourceMappingURL=bio.css.map */